<div style="text-align: center">
	<h3 *ngIf="!url">{{header}}</h3>
  <div [innerHtml]="msg" *ngIf="msg" style="color: red"></div>
  <div>
    <img
      class="{{ animationOnImg }}"
      style="width: 300px; height: 300px"
      [src]="url"
      *ngIf="url"
    />
  </div>
  <p>
    <input type="file" (change)="selectFile($event)" />
  </p>
  <form *ngIf="url" [formGroup]="animationsForm">
	<h3>Добавить Анимацию</h3>
    <div>
      <select formControlName="animations" class="input_select" (change)="OnChange1()">
        <ng-container *ngFor="let animation of animationsArr">
          <option value="{{ animation.name }}">
            {{ animation.name }}
          </option>
        </ng-container>
      </select>
    </div>
  </form>
</div>
